# Python cache and build
__pycache__/
*.pyc
.eggs
*.egg-info/

# Vscode
/.vscode

# Vim
*.swp
*.swo

# Binary files
/*.h5
/*.hdf5
*.pt
*.o
*.so
*.pckl
*.zip
a.out

# Mypy and pytest cache
.mypy_cache/
.pytest_cache/

# Ninja
*.ninja
*.ninja_log

# Code coverage
.coverage
htmlcov/

# Notebooks
.ipynb_checkpoints
Untitled.ipynb

# Full directories relative to project root
/download/
/include/
/tests/runs/
/tools/plots/
/tools/benchmark/
/docs/build/

*.prof
/data
/test.py
/build*
benchmark_xyz
*checkpoint*
/quicktest.py
/*.ipt
/*.params
/*.dat
/tmp
datacache
dist
*.qdrep
*.qdstrm
/nnp_training.py
/test*.py
examples/dataset.pkl
examples/batched_dataset_1x/*
/tests/.hypothesis
