# Python cache and build
__pycache__
.eggs
*.egg-info
/torchani.egg-info
*.pyc

# Vscode
/.vscode

# Vim swap files
*.swp
*.swo

# Binary files
/*.h5
/*.hdf5
*.pt
*.o
*.so
*.pckl
*.zip
a.out

# Mypy cache
*.mypy_cache

# Testing:
# Pytest cache
*.pytest_cache
# hypothesis
*.hypothesis
# Test runs
/tests/runs
# coverage.py code coverage results
*.coverage
htmlcov/

# Ninja (for building extensions)
*.ninja
*.ninja_log

# Jupyter Notebooks
.ipynb_checkpoints
Untitled.ipynb

# Downloaded external data using download.sh
/download

# Downloaded CUB include
/include

*.prof
/tools/benchmark/*
/data
/build*
/docs-build*
benchmark_xyz
*checkpoint*
/*.ipt
/*.params
/*.dat
/tmp
datacache
dist
*.qdrep
*.qdstrm
examples/dataset.pkl
examples/batched_dataset_1x/*
/tools/plots/*
