name: ci

on: pull_request

env:
  TAG: cpu-ci:${{ github.event.pull_request.number || github.sha }}

jobs:
  build-image:
    runs-on: [self-hosted, ipickering]
    steps:
      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          tags: cpu-ci:${{ github.event.pull_request.number || github.sha }}

  tools:
    depends: [build-image]
    runs-on: [self-hosted, ipickering]
    steps:
      - name: Inference benchmark
        run: docker run --rm --gpus all --shm-size 1g --ulimit memlock=-1 --ulimit stack=67108864 ${{ env.TAG }} bash -c "python tools/inference-benchmark.py --no-tqdm"
      - name: COMP6v1 accuracy benchmark
        run: docker run --rm --gpus all --shm-size 1g --ulimit memlock=-1 --ulimit stack=67108864 ${{ env.TAG }} bash -c "python tools/comp6v1-accuracy-benchmark.py --no-tqdm"
      - name: Training benchmark (with Nsight dry run)
        run: docker run --rm --gpus all --shm-size 1g --ulimit memlock=-1 --ulimit stack=67108864 ${{ env.TAG }} bash -c "python tools/training-benchmark.py --nvtx --no-tqdm"
      - name: MD Benchmark (with Nsight dry run)
        run: docker run --rm --gpus all --shm-size 1g --ulimit memlock=-1 --ulimit stack=67108864 ${{ env.TAG }} bash -c "python tools/md-benchmark.py --nvtx --no-tqdm"
  tests:
    depends: [build-image]
    steps:
      - run: docker run --rm --gpus '"device=none"' --shm-size 1g --ulimit memlock=-1 --ulimit stack=67108864 ${{ steps.meta.outputs.tags }} bash -c "pytest ."
  docs:
    depends: [build-image]
    steps:
      - run: docker run --rm --gpus all --shm-size 1g --ulimit memlock=-1 --ulimit stack=67108864 ${{ steps.meta.outputs.tags }} bash -c "nvidia-smi && sphinx-build -W docs/src docs/build"
  mypy:
    depends: [build-image]
    steps:
      - run: pip install --upgrade mypy && mypy --install-types --non-interactive .
  flake8:
    depends: [build-image]
    steps:
      - run: pip install --upgrade flake8 && flake8 .
  #clang-format:
    #depends: [build-image]
    #steps:

  remove-image:
    depends: [build-image, tools, tests, mypy, flake8, docs]
    runs-on: [self-hosted, ipickering]
    steps:
      - name: Remove image
        if: ${{ always() }}
        continue-on-error: true
        run: docker image rm ${{ env.TAG }}

concurrency:
  group: ci-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true
