name: test-conda

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test-conda:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2
    - uses: s-weigand/setup-conda@v1
    - run: conda --version
    - run: which python

concurrency:
  group: test-conda-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true