name: unittests_cpu

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  unittests_cpu:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT }}
          submodules: recursive

      - name: Install and Run tests
        run: docker run --rm --gpus '"device=none"' -v $PWD:/examples nvcr.io/nvidia/pytorch:22.08-py3 bash -c "cd /examples && pip install -r test_requirements.txt && ./download.sh && python setup.py develop && cd tests/ && pytest -s -v ."

concurrency:
  group: unittests_cpu-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true